@charset "utf-8";
/* CSS Document */

/*admin style*/

/*index*/
#index_main {
    width: 750px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

    #index_main span {
        font-size: 30px;
        filter: glow(color=gary,strength=6);
        width: 100%;
        color: #ff00ff;
        line-height: 150%;
        font-family: 华文行楷;
    }

    #index_main font {
        margin-top: 5px;
        font-family: 隶书;
        font-size: 50px;
    }

/*newsmanage1*/
#news1_top {
    width:200px;
    margin: auto;
    padding-right:10px;
}

#title {
    display: block;
    width: 650px;
    height: 35px;
    margin: 10px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

    #title:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }

#news1_bottom {
    width:140px;
    margin:auto;
    padding-right:10px;
}

#button_addnews {
    width: 140px;
    height: 32px;
    margin:20px;
    margin-bottom:100px;
    line-height: 18px;
    font-size: 18px;
    background: url("../Images/button_addnews.png") no-repeat left top;
    color: #FFF;
}
