@charset "utf-8";
/* CSS Document */

/*showdetail*/
#show_loading{width:640px;margin:0 auto;}

#show_title{width:700px;margin:20px auto;text-align:center;}

#show_top{width:700px;margin:0 auto;margin-bottom:10px;color:#ADADAD;text-align:center;}

#show_main{width:700px;margin:0 auto;padding-bottom:100px;}

/*showlist*/
#list_loading{width:640px;margin:0 auto;}

#list{width:800px;margin:20px auto;}
    #list img{float:left;margin-left:20px;margin-top:6px;}
    #list a{float:left;margin-left:10px;}
    .list_belong{width:75px;float:right;margin-right:5px;overflow: hidden;white-space:nowrap;text-overflow:ellipsis;}
    .list_date{float:right;margin-right:10px;}
    
#list_topic{width:800px;float:left;border:solid 2px #72B3EE;}

#list_normal_all{width:800px;float:left;}
    .list_normal{width:800px;float:left;border:solid 2px #72B3EE;border-top:none;}

#page_list{width:700px;margin:0 auto;}

/*showinfo*/
#info_loadling{width:640px;margin:0 auto;}

#info_main{width:300px;margin:20px auto;}

#info_main .form_normal{width:300px;position:relative;margin:20px 0;padding:5px 10px;border:1px #ccc solid;}
#info_main .form_control{width:300px;position:relative;margin:20px 0;padding:5px 10px;border:1px #ccc solid;}

#info_main input[type="text"]{border:none;width:200px;}

#info_main .form_control.active{border:1px #32BC61 solid;background-color:#fff;}

#info_main .form_control.error{border:1px #f00 solid;background-color:#FBF9BB;}

#info_main .form_control.errorinput[type="text"]{background-color:#FBF9BB;color:#f00;}

#info_main input[type="text"]:focus{border:none;outline:none;}

#info_main .form_control .valid_message{color:#32BC61;position:absolute;left:325px;top:5px;width:200px;}

#info_main .form_control.error .valid_message{color:#f00;}

#info_main .form_control.success .valid_message{background: url(../Images/admin_validatesucess.png) no-repeat;left:auto;right:5px;top:4px;width:16px;height:16px;}

.none{display:none;}

/*Password*/
#show_password{width:450px;height:auto;margin:10px auto;}

#show_password .form_normal{width:300px;position:relative;margin:20px auto;padding:5px 10px;border:1px #ccc solid;}
#show_password .form_control{width:300px;position:relative;margin:20px auto;padding:5px 10px;border:1px #ccc solid;}

#show_password input{width:150px;border:1px #c0c0c0 solid;}

#show_password .form_control.active{border:1px #32BC61 solid;background-color:#fff;}

#show_password .form_control.error{border:1px #f00 solid;background-color:#FBF9BB;}

#show_password .form_control.errorinput[type="text"]{background-color:#FBF9BB;color:#f00;}

#show_password .form_control .valid_message{color:#32BC61;position:absolute;left:325px;top:5px;width:200px;}

#show_password .form_control.error .valid_message{color:#f00;}

#show_password .form_control.success .valid_message{background: url(../Images/admin_validatesucess.png) no-repeat;left:auto;right:5px;top:4px;width:16px;height:16px;}

#password_nav{width:450px;margin:10px auto;}

#password_nav .button_nav{width:200px;height:50px;margin:10px auto;font-size:20px;font-weight:bold;}
