
@{
    ViewBag.Title = "学生信息后台";
    Layout = "~/Views/Shares/_LayoutPage2.cshtml";
}
<div id="main_right">
    <div id="top_link">
        <p>当前位置：<a href="@Url.Content("~/Admin/Index")">后台管理</a></p>
    </div>
</div>
