
@{
    ViewBag.Title = "学生信息后台";
    Layout = "~/Views/Shares/_LayoutPage2.cshtml";
}
<div id="main_right">
    <div id="top_link">
        <p>当前位置：<a href="@Url.Content("~/Admin/Index")">后台管理</a></p>
    </div>
    <div id="index_main">
        <span><marquee direction=left behavior=slide width=500 height=50>欢迎访问校园信息门户管理系统后台</marquee></span><br />
        <font color="#ff3333" ><marquee direction=up behavior=slide width=50 height=200>请</marquee></font>
        <font color="#ff9933" ><marquee direction=up behavior=slide width=50 height=200>在</marquee></font>
        <font color="#ffff33" ><marquee direction=up behavior=slide width=50 height=200>左</marquee></font>
        <font color="#99ff33" ><marquee direction=up behavior=slide width=50 height=200>侧</marquee></font>
        <font color="#33ff33" ><marquee direction=up behavior=slide width=50 height=200>列</marquee></font>
        <font color="#33ff99" ><marquee direction=up behavior=slide width=50 height=200>表</marquee></font>
        <font color="#33ffff" ><marquee direction=up behavior=slide width=50 height=200>选</marquee></font>
        <font color="#3399ff" ><marquee direction=up behavior=slide width=50 height=200>择</marquee></font>
        <font color="#3333ff" ><marquee direction=up behavior=slide width=50 height=200>所</marquee></font>
        <font color="#9933ff" ><marquee direction=up behavior=slide width=50 height=200>需</marquee></font>
        <font color="#ff33ff" ><marquee direction=up behavior=slide width=50 height=200>功</marquee></font>
        <font color="#ff33cc" ><marquee direction=up behavior=slide width=50 height=200>能</marquee></font>
    </div>
</div>
