
@{
    ViewBag.Title = "新闻管理-新闻管理";
    Layout = "~/Views/Shares/_LayoutPage2.cshtml";
}

<div id="main_right">
    <div id="top_link">
        <p>当前位置：<a href="@Url.Content("~/Admin/Index")">后台管理</a>>>新闻管理</p>
    </div>
</div>

