
@{
    ViewBag.Title = "公告管理-发布公告";
    Layout = "~/Views/Shares/_LayoutPage2.cshtml";
}

<script src="@Url.Content("~/CKeditor/ckeditor.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Javascript/htmlcode.js")" type="text/javascript"></script>
<script>
    function loginchack() {
        $.ajax({
            url: '/Home/LoginChack',
            asyn:false,
            success: function (data) {
                if (data=="false") {
                    alert("会话已失效，请重新登录！！");
                }
                else {
                    submitck();
                }
            }
        })
    }

    function getdepartment() {
        //alert("getnews_start");
        $.ajax({
            url: '/Home/GetDepartment',
            success: function (data) {
                //alert(data);
                var department = $.parseJSON(data);
                //alert(news.number);
                for (var i = 0; i < department.number ; i++) {
                    //alert(news.listnews[i].title);
                    //alert(news.listnews[i].date);
                    adddepartment(department.departmentlist[i].id, department.departmentlist[i].name);
                }
                document.getElementById("department_loading").text = "加载完成";
                document.getElementById("department_loading").style.display = "none";
            }
        });
    }

    function adddepartment(id, name) {
        var department = "<option value='" + id + "'>" + name + "</option>";
        $("#select1").append(department);
    }

</script>

<div id="main_right">
    <div id="top_link">
        <p>当前位置：<a href="@Url.Content("~/Admin/Index")">后台管理</a>>>发布公告</p>
    </div>
    <div id="addmessage_main">
        <div id="addmessage_top">
            <span style="text-align:center;font-size:30px;color:darkmagenta;"><b><u>公告发布系统</u></b></span>
        </div>
        <div id="addmessage_body">
            <form action="@Url.Action("AddNotice","Admin")" method="post" id="form1">
                <h2>公告标题</h2>
                <input type="text" id="addmessage_title" name="title" maxlength="45" placeholder="请输入标题" />
                <span style="font-size:20px;"><b>公告分类</b></span>
                <select id="select1" style="font-size:20px;">
                    <option value="0" id="department_loading">加载中！！</option>
                </select>
                <span style="font-size:20px;"><b>公告状态</b></span>
                <select id="select2" style="font-size:20px;">
                    <option value="1">正常</option>
                    <option value="2">置顶</option>
                </select>
                <input type="hidden" id="select1_text" name="select1_text" />
                <input type="hidden" id="select2_text" name="select2_text" />
                <input type="hidden" id="ckeditor_html" name="ckeditor_html" />

                <textarea id="ckeditor" cols="20" rows="2" name="ckeditor"></textarea>
                <script type="text/javascript">
                    CKEDITOR.replace('ckeditor');
                    function submitck() {
                        var title = document.getElementById("addmessage_title").value;
                        var belong = document.getElementById("select1").value;
                        var state = document.getElementById("select2").value;
                        var html = CKEDITOR.instances['ckeditor'].getData();
                        var code = htmlencode(html);
                        if (title == "") {
                            alert("标题不能为空！");
                        }
                        else if (belong == 0) {
                            alert("请选择分类！");
                        }
                        else if (html == "") {
                            alert("内容不能为空！");
                        }
                        else {
                            document.getElementById("select1_text").value = belong;
                            document.getElementById("select2_text").value = state;
                            document.getElementById("ckeditor_html").value = code;
                            document.getElementById("form1").submit();
                        }
                    }
                </script>
                <div id="addmessage_bottom">
                    <input type="button" onclick="loginchack()" value="发布公告" id="addmessage_button" onmouseover="this.style.backgroundPosition='left -37px'" onmouseout="this.style.backgroundPosition='left top'" />
                </div>
            </form>
        </div>
    </div>
    <script>getdepartment()</script>
</div>
