
@{
    ViewBag.Title = "公告管理-发布公告";
    Layout = "~/Views/Shares/_LayoutPage2.cshtml";
}

<div id="main_right">
    <div id="top_link">
        <p>当前位置：<a href="@Url.Content("~/Admin/Index")">后台管理</a>>>发布公告</p>
    </div>
</div>
