
@{
    ViewBag.Title = "学生管理-新生注册";
    Layout = "~/Views/Shares/_LayoutPage2.cshtml";
}

<div id="main_right">
    <div id="top_link">
        <p>当前位置：<a href="@Url.Content("~/Admin/Index")">后台管理</a>>>新生注册</p>
    </div>
</div>
