
@{
    ViewBag.Title = "学生管理-状态管理";
    Layout = "~/Views/Shares/_LayoutPage2.cshtml";
}

<div id="main_right">
    <div id="top_link">
        <p>当前位置：<a href="@Url.Content("~/Admin/Index")">后台管理</a>>>学生状态</p>
    </div>
</div>
