
@{
    ViewBag.Title = "教师管理-权限管理";
    Layout = "~/Views/Shares/_LayoutPage2.cshtml";
}

<div id="main_right">
    <div id="top_link">
        <p>当前位置：<a href="@Url.Content("~/Admin/Index")">后台管理</a>>>教师权限</p>
    </div>
</div>
