
@{
    ViewBag.Title = "学生信息管理系统";
    Layout = "~/Views/Shares/_LayoutPage1.cshtml";
}

<div id="main_left">
    <text>main_left</text>
</div>
<div id="main_right">
    <text>main_right</text>
</div>

