
@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shares/_LayoutPage1.cshtml";
}
<link href="@Url.Content("~/Content/main_show.css")" rel="stylesheet" />
<script src="@Url.Content("~/Javascript/admin_validate.js")"></script>
<script type="text/javascript">
    function gettype() {
        var type = getQueryString("type");
        if (type == 1) {
            document.getElementById("div_password2").style.display = "none";
            document.getElementById("div_password1").style.display = "";
            document.getElementById("changepassword2").disabled = false;
            document.getElementById("changepassword2").style.color = "#000000";
            document.getElementById("changepassword2").style.border = "";
            document.getElementById("changepassword1").disabled = true;
            document.getElementById("changepassword1").style.color = "#32BC61";
            document.getElementById("changepassword1").style.border = "2px #32BC61 solid";
        }
        else if (type == 2) {
            document.getElementById("div_password1").style.display = "none";
            document.getElementById("div_password2").style.display = "";
            document.getElementById("changepassword1").disabled = false;
            document.getElementById("changepassword1").style.color = "#000000";
            document.getElementById("changepassword1").style.border = "";
            document.getElementById("changepassword2").disabled = true;
            document.getElementById("changepassword2").style.color = "#32BC61";
            document.getElementById("changepassword2").style.border = "2px #32BC61 solid";
        }
        else {
            window.location = "/Home/Password?type=1";
        }
    }

    function password1() {
        location = "/Home/Password?type=1"
    }

    function password2() {
        location = "/Home/Password?type=2"
    }

    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]); return null;
    }

    function passwordchack1() {
        var first = document.getElementById("newpassword11").value;
        //alert(first);
        var second = document.getElementById("newpassword12").value;
        //alert(second);
        if (first == second) {
            button_submit1();
        }
        else {
            alert("两次输入的密码不一致！");
        }
    }

    function passwordchack2() {
        var first = document.getElementById("newpassword21").value;
        var second = document.getElementById("newpassword22").value;
        if (first == second) {
            button_submit2();
        }
        else {
            alert("两次输入的密码不一致！");
        }
    }

    function button_submit1() {
        var message = $("#form1 span[class=valid_message]");
        var number = document.getElementById("number1").value;
        //alert(number);
        var oldpassword = document.getElementById("oldpassword").value;
        //alert(oldpassword);
        var newpassword = document.getElementById("newpassword11").value;
        //alert(newpassword);

        //alert(message.length);
        if (message.length == 4) {
            if (message.eq(0).text() == "" && message.eq(1).text() == "" && message.eq(2).text() == "" && message.eq(3).text() == "") {
                //alert("success");
                $.ajax({
                    url: '/Home/ChangePassword1',
                    data: {"number": number, "oldpassword": oldpassword, "newpassword": newpassword },
                    async: false,
                    success: function (data) {
                        if (data == "success") {
                            alert("修改成功！");
                            location = "/Home/Index";
                        }
                        else {
                            alert("修改失败！请检查用户名与密码是否匹配！")
                        }
                    }
                });
            }
            else {
                alert("信息不符合规范，请根据提示修改信息!")
            }
        }
        else {
            alert("请检查信息完整性!");
        }
    }

    function button_submit2() {
        var message = $("#form2 span[class=valid_message]");
        var number = document.getElementById("number2").value;
        //alert(number);
        var email = document.getElementById("email").value;
        //alert(oldpassword);
        var newpassword = document.getElementById("newpassword21").value;
        //alert(newpassword);

        //alert(message.length);
        if (message.length == 4) {
            if (message.eq(0).text() == "" && message.eq(1).text() == "" && message.eq(2).text() == "" && message.eq(3).text() == "") {
                //alert("success");
                $.ajax({
                    url: '/Home/ChangePassword2',
                    data: { "number": number, "email": email, "newpassword": newpassword },
                    async: false,
                    success: function (data) {
                        if (data == "success") {
                            alert("修改成功！");
                            location = "/Home/Index";
                        }
                        else {
                            alert("修改失败！请确认是否绑定邮箱，或邮箱与账号是否匹配！")
                        }
                    }
                });
            }
            else {
                alert("信息不符合规范，请根据提示修改信息!")
            }
        }
        else {
            alert("请检查信息完整性!");
        }
    }

</script>

<div id="show_password">
    <div id="password_nav">
        <input type="button" id="changepassword1" class="button_nav" value="通过现有密码修改" onclick="password1()" />
        <input type="button" id="changepassword2" class="button_nav" value="通过绑定邮箱修改" onclick="password2()" />
    </div>
    <div id="div_password1" class="div_password" style="display:none">
        <!--<h2>div_password1</h2>-->
        <form action="" method="post" id="form1">
            <div class="form_control">
                <text>学　　号：</text><input class="required" type="text" id="number1" name="number1" data-tip="请输入学号" data-valid="isNonEmpty||onlyInt||between:11-11" data-error="学号不能为空||学号只能为数字||学号长度为11位" />
            </div>
            <div class="form_control">
                <text>原 密 码：</text><input class="required" type="password" id="oldpassword" name="oldpassword" data-tip="请输入原密码" data-valid="isNonEmpty||between:6-16" data-error="密码不能为空||密码应为6-16位" />
            </div>
            <div class="form_control">
                <text>新 密 码：</text><input class="required" type="password" id="newpassword11" name="newpassword11" data-tip="请输入新密码" data-valid="isNonEmpty||between:6-16" data-error="密码不能为空||密码应为6-16位" />
            </div>
            <div class="form_control">
                <text>确认密码：</text><input class="required" type="password" id="newpassword12" name="newpassword12" data-tip="请确认新密码" data-valid="isNonEmpty||between:6-16" data-error="密码不能为空||密码应为6-16位" />
            </div>
            <div>
                <input type="button" value="提交信息" onclick="passwordchack1()" />
            </div>
        </form>
    </div>

    <div id="div_password2" class="div_password" style="display:none">
        <!--<h2>div_password2</h2>-->
        <form action="" method="post" id="form2">
            <div class="form_control">
                <text>学　　号：</text><input class="required" type="text" id="number2" name="number2" data-tip="请输入学号" data-valid="isNonEmpty||onlyInt||between:11-11" data-error="学号不能为空||学号只能为数字||学号长度为11位" />
            </div>
            <div class="form_control">
                <text>邮　　箱：</text><input class="required" type="text" id="email" name="email" data-tip="请输入绑定邮箱" data-valid="isNonEmpty||isEmail" data-error="邮箱不能为空||邮箱格式不正确" />
            </div>
            <div class="form_control">
                <text>新 密 码：</text><input class="required" type="password" id="newpassword21" name="newpassword21" data-tip="请输入新密码" data-valid="isNonEmpty||between:6-16" data-error="密码不能为空||密码应为6-16位" />
            </div>
            <div class="form_control">
                <text>确认密码：</text><input class="required" type="password" id="newpassword22" name="newpassword22" data-tip="请确认新密码" data-valid="isNonEmpty||between:6-16" data-error="密码不能为空||密码应为6-16位" />
            </div>
            <div>
                <input type="button" value="提交信息" onclick="passwordchack2()" />
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $('form').validate({
        onFocus: function () {
            this.parent().addClass('active');
            return false;
        },
        onBlur: function () {
            var $parent = this.parent();
            var _status = parseInt(this.attr('data-status'));
            $parent.removeClass('active');
            if (!_status) {
                $parent.addClass('error');
            }
            return false;
        }
    });
</script>
<script>gettype();</script>