
@{
    ViewBag.Title = "学生信息管理系统";
    Layout = "~/Views/Shares/_LayoutPage1.cshtml";
}
<link href="@Url.Content("~/Content/main_show.css")" rel="stylesheet" />

<div id="list">
    <div id="list_topic">
        <img src="@Url.Content("~/Images/main_istop.png")" /><a id="1" class="list_title" href="#">list_topic_title</a><div class="list_date">2016-01-01</div><div class="list_belong">公告类别</div>
    </div>
    <div id="list_normal_all">
        <div class="list_normal">
            <img src="@Url.Content("~/Images/main_right.png")" /><a id="2" class="list_title" href="#">list_topic_title</a><div class="list_date">2016-01-01</div><div class="list_belong">公告类别</div>
        </div>
    </div>
</div>


